body {
    background-color: green;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.solitaire-container {
    width: 100%;
    max-width: 1200px;
    height: 80vh;
    background-color: darkgreen;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-gap: 10px;
    padding: 10px;
}
.top-row {
    display: flex;
    justify-content: space-between;
}

.stock,
.waste,
.foundation {
    width: 100px;
    height: 150px;
    background-color: #006400;
    border-radius: 5px;
    border: 2px solid #fff;
}
.foundation {
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin-left: 20px;
}
.tableau {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.tableau .column {
    width: 100px;
    height: 100%;
    background-color: #006400;
    border-radius: 5px;
    border: 2px solid #fff;
}
.card {
    width: 100px;
    height: 150px;
    border-radius: 5px;
    border: 2px solid #701f1f;
    background-color: white;
    position: relative;
    margin-top: -20px;
    text-align: center;
    line-height: 150px;
    font-size: 24px;
    color: black;
    cursor: grab;
}
.card.red {
    color: red;
}